#progressWrapper {
  width: fit-content;
  margin-right: 0;
  padding: 0;
  margin-bottom: 2%;
  font-size: 10px;
  display: inline-flex !important;
}

.cerificate-refund-child {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.5em;
  border-radius: 15px;
  background-color: #c7e7f5;
}

.options-certificate-refund {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
}

.options-certificate-refund button {
  margin-bottom: 0.7em;
}

.progress {
  height: 42px !important;
  background-color: rgba(255, 255, 255, 0.396) !important;
  width: 300px;
  margin-left: 0;
}

.progress-bar {
  height: 42px !important;
  font-size: 17px;
  margin: 0;
}
