#problemSummary {
  margin-left: 0px;
}
#problemCard {
  margin-left: 0px;
  padding: 1%;
}
#problemContainer {
  display: inline-block;
  width: 100%;
  margin: 1%;
  padding-top: 1%;
  height: max-content;
  background-color: white !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px !important;
  border-radius: 8px !important;
  color: #100f0f !important;
}
.problemHeader {
  margin: 0%;
  padding: 1%;
}
#problemStatus {
  justify-content: flex-end;
  text-align-last: right;
  margin-top: 4%;
}
#resolveButton {
  justify-content: flex-end;
  text-align-last: right;
}
#problemCourseNameLink {
  text-decoration: none;
  color: #0d5c84;
}
#panel1a-header {
  background-color: white;
  border-radius: 8px;
}
#reportAccordionWrapper {
  border-top: 1px solid lightgray;
}
#reportAccordionWrapper::before {
  content: none;
}
#followupsList {
  border-radius: 8px;
}
#addFollowupButton {
  background-color: rgb(0, 0, 0, 0);
  box-shadow: none;
  display: flex;
  flex-direction: row;
  width: fit-content;
  border: none;
  margin-left: -4px;
  margin-top: -0.5%;
}
#addIconWrapper {
  width: fit-content;
  margin-top: -1.5%;
}
#followupFormFooter {
  display: flex;
  justify-content: flex-end;
}
.followupFormButton {
  width: 30%;
}
