#problemSummary {
  margin-left: 0px;
}
#problemCard {
  margin-left: 0px;
  padding: 1%;
}
#problemContainer {
  width: 100%;
  margin: 0%;
  margin-bottom: 2%;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
}
#problemHeaderUnseen {
  background-color: rgba(179, 58, 58, 0.3);
  color: 5%;
  margin: 0%;
  border-radius: 1em;
  padding: 1%;
}
#problemHeaderPending {
  background-color: rgba(255, 255, 0, 0.3);
  color: 5%;
  margin: 0%;
  border-radius: 1em;
  padding: 1%;
}
#problemHeaderResolved {
  background-color: rgba(0, 255, 0, 0.3);
  color: 5%;
  margin: 0%;
  border-radius: 1em;
  padding: 1%;
}
#problemStatus {
  justify-content: flex-end;
  text-align-last: right;
}
