.contentDiv {
  border: 5px solid black;
  margin-left: 5px;
  display: inline-block;
}
#body {
  margin: 0;
  min-width: 100%;
}

.row {
  margin-right: 0 !important;
}

.blackBg {
  background-color: #100f0f;
}

.blueBg {
  background-color: #a5c9ca;
}
.yellowBg {
  background-color: #ffd369;
}
.greyBg {
  background-color: #b0b6b1;
}
.whiteBg {
  background-color: #f6f5f6;
}

.blackTxt {
  color: #100f0f;
}

.blueTxt {
  color: #87b3b4;
}
.yellowTxt {
  color: #ffd369;
}
.greyTxt {
  color: #b0b6b1;
}
.whiteTxt {
  color: #f6f5f6;
}

.blackOutline {
  color: #100f0f;
  border: solid #100f0f;
  background-color: transparent;
}

.blueOutline {
  color: #87b3b4;
  border: solid #87b3b4;
  background-color: transparent;
}
.yellowOutline {
  color: #ffd369;
  border: solid #ffd369;
  background-color: transparent;
}
.greyOutline {
  color: #b0b6b1;
  border: solid #b0b6b1;
  background-color: transparent;
}
input[type="radio"]:checked {
  background-color: #100f0f;
  box-shadow: none;
  border: 1px solid #100f0f;
}

input[type="checkbox"]:checked {
  background-color: #100f0f;
  box-shadow: none;
  border: 1px solid #100f0f;
}
