.contentDiv {
  border: 5px solid black;
  margin-left: 5px;
  display: inline-block;
}
#body {
  margin: 0;
  min-width: 100%;
}

.row {
  margin-right: 0 !important;
}

.blackBg {
  background-color: #100f0f;
  border: 1px solid #100f0f;
  color: white;
}

.blueBg {
  background-color: #297f87;
  border: 1px solid #297f87;
  color: white;
}
.greyBg {
  background-color: #9d9d9d;
  border: 1px solid #9d9d9d;
  color: white;
}
.redBg {
  background-color: #ba2d3d;
  border: 1px solid #ba2d3d;
  color: white;
}

.blackTxt {
  color: #100f0f;
}

.blueTxt {
  color: #297f87;
}
.greyTxt {
  color: #9d9d9d;
}
.redTxt {
  color: #ba2d3d;
}
.whiteTxt {
  color: white;
}

input[type="radio"]:checked {
  background-color: #100f0f;
  box-shadow: none;
  border: 1px solid #100f0f;
}

input[type="checkbox"]:checked {
  background-color: #100f0f;
  box-shadow: none;
  border: 1px solid #100f0f;
}
