.contentDiv {
  border: 5px solid black;
  margin-left: 5px;
  display: inline-block;
}
#body {
  margin: 0;
  min-width: 100%;
}

.row {
  margin-right: 0 !important;
}

.whiteCard {
  background-color: rgba(255, 255, 255, 0.7) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px !important;
  border-radius: 8px !important;
  color: #100f0f !important;
}

.blackBg {
  background-color: #100f0f !important;
  border: 1px solid #100f0f !important;
  color: white !important;
}

.blueBg {
  background-color: #297f87 !important;
  border: 1px solid #297f87 !important;
  color: white !important;
}
.greyBg {
  background-color: #9d9d9d !important;
  border: 1px solid #9d9d9d !important;
  color: white !important;
}
.redBg {
  background-color: #ba2d3d !important;
  border: 1px solid #ba2d3d !important;
  color: white !important;
}

.blackBgHover {
  background-color: #100f0f !important;
  border: 1px solid #100f0f !important;
  color: white !important;
}

.blueBgHover {
  background-color: #297f87 !important;
  border: 1px solid #297f87 !important;
  color: white !important;
}
.greyBgHover {
  background-color: #9d9d9d !important;
  border: 1px solid #9d9d9d !important;
  color: white !important;
}
.redBgHover {
  background-color: #ba2d3d !important;
  border: 1px solid #ba2d3d !important;
  color: white !important;
}

.blackBgHover:hover {
  background-color: transparent !important;
  border: 1px solid #100f0f !important;
  color: #100f0f !important;
}

.blueBgHover:hover {
  background-color: transparent !important;
  border: 1px solid #297f87 !important;
  color: #297f87 !important;
}
.greyBgHover:hover {
  background-color: transparent !important;
  border: 1px solid #9d9d9d !important;
  color: #9d9d9d !important;
}
.redBgHover:hover {
  background-color: transparent !important;
  border: 1px solid #ba2d3d !important;
  color: #ba2d3d !important;
}

.blackTxt {
  color: #100f0f !important;
}

.blueTxt {
  color: #297f87 !important;
}
.greyTxt {
  color: #8e8e8e !important;
}
.redTxt {
  color: #ba2d3d !important;
}
.whiteTxt {
  color: white !important;
}

input[type="radio"]:checked {
  background-color: #100f0f;
  box-shadow: none;
  border: 1px solid #100f0f;
}

input[type="checkbox"]:checked {
  background-color: #100f0f;
  box-shadow: none;
  border: 1px solid #100f0f;
}

.greenBgHover:hover {
  background-color: transparent !important;
  border: 1px solid white !important;
  color: white !important;
}

.greenBgHover {
  background-color: #35a7a0 !important;
  border: 1px solid #35a7a0 !important;
  color: white !important;
}
