.wrapper {
  display: inline-flex;
  gap: 0.5rem;
  justify-content: start;
  justify-self: start;
}

.explore__content {
  width: 80% !important;
}

.exploreCarouselItem {
  margin: 0;
  margin-bottom: 60px;
  align-self: flex-start;
}
#exploreMain {
  width: 70%;
  padding: 0.8%;
  padding-top: 3%;
  padding-bottom: 1.7%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px !important;
}
#exploreTitle {
  margin: 1.5%;
  margin-top: 2%;
  margin-left: 15.3%;
  font-weight: 300;
}
#exploreSlogan {
  margin-top: 2%;
  width: 70%;
  padding: 2%;
  text-align: center;
}
#exploreSloganTxt {
  color: white;
  /* --color1: #b5e67b;
  --color2: #7ad088;
  --color3: #289b92;
  --color4: #297f87; */
  font-family: "Monoton", sans-serif;
  /* --interval: 2s;
  display: block;
  text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2),
    0 0 40px var(--color3), 0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite; */
}

/* @keyframes flicker {
  50% {
    color: white;
    filter: saturate(200%) hue-rotate(20deg);
  }
} */

#sloganSmallTxt {
  font-weight: 200;
  font-size: 22px;
}
