.wrapper {
  display: inline-flex;
  gap: 0.5rem;
  justify-content: start;
  justify-self: start;
}

.explore__content {
  width: 80% !important;
}

.exploreCarouselItem {
  margin: 0;
  margin-bottom: 60px;
  align-self: flex-start;
}
#exploreMain {
  width: 70%;
  padding: 0.8%;
  padding-top: 3%;
  padding-bottom: 1.7%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px !important;
}
#exploreTitle {
  margin: 1.5%;
  margin-top: 2%;
  margin-left: 15.3%;
  font-weight: 300;
}
#exploreSlogan {
  margin-top: 2%;
  width: 70%;
  padding: 2%;
  text-align: center;
}
