#confirmPaymentBtn {
  background-color: #5d8889;
  border: solid #5d8889;
}

#confirmPaymentBtn:hover {
  background-color: transparent;
  border: solid #5d8889;
  color: #5d8889;
}

#cancelPaymentBtn {
  background-color: #b0b6b1;
  border: solid #b0b6b1;
}

#cancelPaymentBtn:hover {
  background-color: transparent;
  border: solid #b0b6b1;
  color: #b0b6b1;
}
