#loginMain {
  margin-top: 7%;
  margin-bottom: 1.4%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 500px;
  padding: 5%;
  padding-top: 4%;
  padding-bottom: 3%;
}

#loginMain2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 500px;
  padding: 1%;
  margin-bottom: 5%;
}
#loginBtn {
  width: 100%;
}
.loginLinks {
  text-decoration: none;
}
