#refundContainer {
  width: 100%;
  margin: 0%;
  margin-bottom: 2%;
  border-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
}
#refundHeader {
  background-color: rgba(255, 211, 105, 1);
  color: 5%;
  margin: 0%;
  border-radius: 0.5em;
  padding: 1%;
}
#refundBody {
  margin-left: 2%;
  padding: 1%;
  border-radius: 1em;
}
#refundFooter {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}
#refundRequestApproveButton {
  margin: 1%;
  background-color: #36846e;
  border-color: #36846e;
}
#refundRequestApproveButton:hover {
  margin: 1%;
  background-color: #f6f5f6;
  border-color: #36846e;
  color: #36846e;
}
#refundRequestDeclineButton {
  margin: 1%;
  background-color: #b22727;
  border-color: #b22727;
}
#refundRequestDeclineButton:hover {
  margin: 1%;
  background-color: #f6f5f6;
  border-color: #b22727;
  color: #b22727;
}
