#refundContainer {
  display: inline-block;
  width: 100%;
  margin: 0%;
  margin-bottom: 2%;
  padding: 0.5%;
  padding-top: 1%;
}
#refundHeader {
  margin: 0%;
  padding: 1%;
}
#refundBody {
  margin-left: 2%;
  margin-right: 2%;
  padding: 1%;
}
#refundFooter {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}
#refundRequestApproveButton {
  margin: 1%;
}
#refundRequestApproveButton:hover {
  margin: 1%;
}
#refundRequestDeclineButton {
  margin: 1%;
}
#refundRequestDeclineButton:hover {
  margin: 1%;
}
