#rateInstructorMain {
  margin: 3%;
  margin-left: 8%;
  margin-right: 8%;
}

#ratingStars {
  margin: 0%;
  padding: 0%;
  width: 230px;
  height: 90px;
}

#reviewBox {
  width: 50%;
  margin: 0%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#submitReviewBtn {
  margin-left: 1%;
}

#ratingLabel {
  margin: 0%;
}
