#rateInstructorMain {
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  margin: 2%;
  margin-left: 15%;
  margin-right: 15%;
}

#ratingStars {
  margin: 0%;
  padding: 0%;
  width: 170px;
  height: 90px;
}

#reviewBox {
  margin: 0%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.submitReviewBtn {
  width: 150px;
  margin: 10px;
}

#ratingLabel {
  margin: 0%;
}
#reviewLabel {
  margin: 0%;
}
#reviewButtonsContainer {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
