#rateInstructorMain {
  padding: 1%;
  padding-top: 2.5%;
  padding-left: 2%;
  padding-right: 2%;
  margin: 2%;
  margin-left: 15%;
  margin-right: 15%;
}

#ratingStars {
  margin: 0%;
  padding: 0%;
  width: 170px;
  height: 70px;
  margin-top: -14px;
}

#reviewBox {
  margin: 0%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.submitReviewBtn {
  width: 150px;
  margin: 10px;
}

#ratingLabel {
  margin: 0%;
  margin-right: 3px;
  font-size: 24px !important;
}
#reviewLabel {
  margin: 0%;
  font-size: 24px !important;
}
#reviewButtonsContainer {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
#labelRating {
  display: inline-flex !important;
}
