#courseCardContainer {
  background-color: #a6d1e6;
  padding: 3%;
  padding-left: 5%;
}
#courseName {
  margin: 0;
}
#courseRating {
  margin: 0;
}
#courseInfo {
  margin: 0;
  align-items: flex-start;
  padding: 3%;
}
#subtitlesWrapper {
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2%;
}

.loading-spinner {
  margin: 0;
  position: absolute;       
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}