#instructorName {
  margin: auto;
  margin-top: 2%;
  align-items: center;
  display: flex;
}

#instructorRating {
  display: inline-flex;
  padding-left: 1.5%;
  align-items: center;
}

#instructorRatingStars {
  width: 185px;
  margin-right: 0;
}

#instructorRatingNo {
  font-weight: 300;
  margin-top: 12px;
  margin-left: 0;
}
#profileCardMain {
  --bs-gutter-x: 0;
}
