#profileCardContainer {
  background-color: #a6d1e6;
  padding: 3%;
  padding-left: 5%;
}
#profileName {
  margin: 0;
}
#profileRating {
  margin: 0;
}
#profileInfo {
  margin: 0;
  align-items: flex-start;
  padding: 3%;
}
