#editMyProfileMain {
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  margin: 2%;
  margin-left: 15%;
  margin-right: 15%;
  pointer-events: none;
}

#editProfileItem {
  margin: 0%;
  padding: 0%;
}

#editMyInformation {
  margin-left: 15%;
  margin-top: 1%;
  margin-bottom: -12px;
}

.saveMyProfileChangesBtn {
  margin-right: 1%;
  pointer-events: all;
}

#pencilIcon {
  margin: 5px;
  margin-bottom: 11px;
  color: #b0b6b1;
}
.myInfoStaticCard {
  margin: 0;
  pointer-events: all;
}

.editInfoFormItem {
  pointer-events: all;
}

#saveMyProfile {
  background-color: #5d8889;
  border: #5d8889;
}

#saveMyProfile:hover {
  background-color: #100f0f;
  border: #100f0f;
  color: white;
}

#cancelMyProfile {
  background-color: #b0b6b1;
  border: #b0b6b1;
}

#cancelMyProfile:hover {
  background-color: #100f0f;
  border: #100f0f;
  color: white;
}
