#editMyProfileMain {
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  margin: 2%;
  margin-left: 15%;
  margin-right: 15%;
}

#editProfileItem {
  margin: 0%;
  padding: 0%;
}

#editMyInformation {
  margin-left: 15%;
  margin-top: 1%;
  margin-bottom: -12px;
}

#saveMyProfileChangesBtn {
  margin-right: 1%;
}

#pencilIcon {
  margin: 5px;
  margin-bottom: 11px;
  color: rgb(140, 140, 140);
}
.myInfoStaticCard {
  margin: 0;
}
