#accessRequestContainer {
  width: 100%;
  margin: 0%;
  margin-bottom: 2%;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
}
#accessRequestHeader {
  color: 5%;
  margin: 0%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom: #555555;
  border-bottom-style: solid;
  padding: 1%;
}
#accessRequestBody {
  margin-left: 2%;
  padding: 1%;
  border-radius: 1em;
}
#accessRequestFooter {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}
#accessRequestApproveButton {
  margin: 1%;
  background-color: #36846e;
  border-color: #36846e;
}
#accessRequestApproveButton:hover {
  margin: 1%;
  background-color: #f6f5f6;
  border-color: #36846e;
  color: #36846e;
}
#accessRequestDeclineButton {
  margin: 1%;
  background-color: #b22727;
  border-color: #b22727;
}
#accessRequestDeclineButton:hover {
  margin: 1%;
  background-color: #f6f5f6;
  border-color: #b22727;
  color: #b22727;
}
