#accessRequestContainer {
  width: 500px;
  margin: 1%;
  padding: 0.5%;
  padding-top: 1%;
}
#accessRequestHeader {
  color: 5%;
  margin: 0%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom: #555555;
  border-bottom-style: solid;
  padding: 1%;
}
#accessRequestBody {
  margin: 1%;
  margin-right: 2%;
  margin-left: 2%;
  padding: 1%;
}
#accessRequestFooter {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}
