#accessRequestContainer {
  width: 100%;
  margin: 1%;
  display: inline-block;
  padding: 0.5%;
  padding-top: 1%;
}
#accessRequestHeader {
  margin: 0%;
  padding: 1%;
}
#accessRequestBody {
  margin-right: 2%;
  margin-left: 2%;
  padding: 1%;
}
#accessRequestFooter {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}
.accessRequestButton {
  margin: 1%;
}
