.reviewCard {
  margin: 0;
  width: 90%;
}
.cardFrame {
  width: 100%;
  pointer-events: none;
  padding: 1.4%;
  padding-left: 1.8%;
}
#reviewContainer {
  margin: 3%;
  margin-left: 15%;
  margin-right: 15%;
}
#reviewContainer2 {
  margin-top: 2%;
  margin-bottom: 2%;
}
#seeMoreBtn {
  border: none;
  width: 30%;
  align-self: center;
}
#reviewCardStars {
  margin: -2px;
  margin-top: -10px;
  width: 105px;
}
