#reportProblemForm {
  margin-left: -50%;
  margin-right: -50%;
}
#reportFormFooter {
  display: flex;
  justify-content: space-around;
}
#reportButton {
  background-color: rgb(0, 0, 0, 0);
  box-shadow: none;
  display: flex;
  flex-direction: row;
  width: fit-content;
  border: none;
  margin: 0;
}
.reportFormButton {
  width: 40%;
}
#reportIconWrapper {
  width: fit-content;
  margin-top: -1.5%;
}
