#reportProblemForm {
  margin-left: -50%;
  margin-right: -50%;
}
#reportFormFooter {
  display: flex;
  justify-content: end;
}
#reportButton {
  background-color: rgb(0, 0, 0, 0);
  box-shadow: none;
  display: flex;
  flex-direction: row;
  width: fit-content;
  border: none;
  margin-left: 0;
  margin-bottom: 7px;
}
.reportFormButton {
  width: fit-content;
  margin-left: 1%;
}
#reportIconWrapper {
  width: fit-content;
  margin-top: 0;
  margin-left: 0;
}
