.ExamForm {
  padding-left: 0 !important;
  padding-right: 0 !important;

  width: 50% !important;
  padding: 2em !important;

  margin-bottom: 2em;
}

.ExamForm.NotCompleted {
  box-shadow: rgba(255, 238, 0, 0.658) 4px 11px 41px;
}

.questionStatement-header {
  display: inline-flex;
  margin-bottom: 0.7em;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.question-number {
  margin: 0;
  text-align: left;
}

.alert-IsRequired {
  margin: 0;
  text-align: right;
  font-size: 1em;
  color: red;
}

.ExamForm input {
  margin: 0.4em;
}

.ExamForm label {
  margin: 0.4em;
}

.chooseCorrectAnswer {
  margin-left: 0.5em;
}

.chooseCorrectAnswer input {
  cursor: pointer;
}

#text-feedback {
  padding-left: 0.5em;
}
