#courseStars {
  padding-top: 5%;
}
#starsWrapper {
  margin-top: -10%;
  margin-left: -5%;
}
.rateCourseFormButton {
  width: fit-content;
  margin-left: 1%;
}
#rateCourseFooter {
  display: flex;
  justify-content: end;
}
.courseRatingForm {
  margin-left: -50%;
  margin-right: -50%;
  margin-top: 5%;
  margin-bottom: 5%;
}
#rateCourseButton {
  margin-left: 0%;
  margin-right: 0%;
}
