#courseStars {
  padding-top: 5%;
}
#starsWrapper {
  margin-top: -10%;
  margin-left: -5%;
}
.rateCourseFormButton {
  width: 30%;
}
#rateCourseFooter {
  display: flex;
  justify-content: space-around;
  padding: 10%;
}
.courseRatingForm {
  margin-left: -50%;
  margin-right: -50%;
}
#rateCourseButton {
  margin-left: 0%;
}
