.passwordMain {
  margin-top: 7%;
  margin-bottom: 1.4%;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 5%;
  padding-top: 3.3%;
  padding-bottom: 4%;
}

.passwordBtn {
  width: 100%;
}
