#videaAndDescription {
  padding-right: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0,0.1);
  /* padding-bottom: 1em; */
}

.watchScreen__player {
  height: 60vh;
  background-color: beige;
  width: 100%;
  margin-bottom: 1.1rem;
}

.watchScreen__description {
  padding-bottom: 1em;
}

.watchScreen__description i {
  margin-left: 1.5em;
  margin-right: 1.5em;
  float: left;
  font-size: 1.5em;
  
}

.watchScreen__description span {
  margin: 0;
  font-size: 1.3em;
  font-weight: 600;
}

.watchScreen__description button {
  float: right;
}
