#courseSummaryFirstRow {
  padding: 1%;
  padding-left: 2%;
}
#courseSummarySecondRow {
  padding: 1%;
  padding-left: 2%;
}
#courseTitle {
  margin: 0;
  margin-left: 5px;
}
#courseRatingStars {
  margin: 0;
  width: 300px;
  height: 1px;
  margin-left: -3%;
  display: inline-flex;
  align-items: center;
}
#courseInstructorName {
  margin: 0;
  margin-bottom: -10px;
  margin-left: 5px;
}
#courseHeader {
  margin: 5px;
  margin-top: 13px;
}
#enrollButton {
  font-size: 18px;
  margin-left: 0px;
  height: 39px;
  line-height: 1;
  padding-left: 7%;
  padding-right: 7%;
  width: 250px;
  margin-top: -2%;
  margin-bottom: 1%;
}
#goToCourse {
  font-size: 18px;
  margin-left: 0px;
  height: 39px;
  line-height: 1;
  padding-left: 7%;
  padding-right: 7%;
  width: 250px;
  margin-top: -2%;
  margin-bottom: 1%;
}
#coursePrice {
  font-weight: 400;
}
#priceEnroll {
  margin: 0;
}
.courseInfo {
  margin: 0;
  font-weight: 400;
}
#addRating {
  margin: 0;
}
#introVideo {
  margin-top: -15%;
}
#courseSummaryContainer {
  padding: 0.3%;
  background-color: #a6d1e6;
}
#ratingsCount {
  margin-top: 24%;
  margin-left: -5%;
}
#urlInput {
  width: 500px;
  margin-left: 23%;
}
#addVideo {
  margin-top: 3%;
  margin-left: 8%;
}
