#courseSummaryFirstRow {
  margin: 0;
  padding: 1%;
  padding-left: 2%;
}
#courseSummarySecondRow {
  padding: 1%;
  padding-left: 2%;
}
#courseTitle {
  margin: 0;
  margin-left: 5px;
}
#courseRatingStars {
  margin: 0;
  width: 300px;
  height: 1px;
  margin-left: -3%;
  display: inline-flex;
  align-items: center;
}
#courseInstructorName {
  margin: 0;
  margin-bottom: -10px;
  margin-left: 5px;
}

#leftCol {
  width: fit-content;
  margin: 0;
  padding-top: 0%;
  padding-bottom: 1%;
}
#rightCol {
  width: fit-content;
  margin: 0;
  padding: 2%;
  padding-top: 0%;
  padding-bottom: 0.3%;
}
#goToCourse {
  font-size: 18px;
  margin-left: 0px;
  height: 39px;
  line-height: 1;
  padding-left: 7%;
  padding-right: 7%;
  width: 250px;
  margin-top: -2%;
  margin-bottom: 1%;
}
#coursePrice {
  font-weight: 400;
}
#priceEnroll {
  margin: 0;
}
.courseInfo {
  margin: 0;
  font-weight: 400;
}
#addRating {
  margin: 0;
}
#courseSummaryContainer {
  padding: 1%;
  padding-bottom: 0%;
  background-color: #a6d1e6;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 1%;
  border-radius: 1em;
  display: flex;
}
#ratingsCount {
  margin-top: 24%;
  margin-left: -5%;
}


#courseInstructorNameLink {
  text-decoration: none;
  color: #100f0f;
}

.courseSummaryFirstRow-parent {
  display: flex;
}

.course-progress-bar {
  margin: 0;
  margin-left: 3%;
  margin-right: 3%;
}
