.card__details__rating {
  display: flex;
  margin-top: -2px;
}

.card__details__rating i {
  margin: 0;
  font-size: 1.2rem;
  color: rgba(255, 255, 0, 0.7);
}

.card__details__rating p {
  margin: 0;
  margin-left: 0.4em;
  padding-top: 0.2em;
}

.card__rating__number {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 80%;
  padding-left: 0.2em;
  padding-top: 0.52em;
}

.card__details__price__rating {
  display: inline-flex;
  padding-bottom: 1em;
}
.card__price {
  margin: 0;
  text-align: end;
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  right: 0px;
  margin-right: 15px;
}

#courseCardCurrency {
  font-size: 0.6m;
  color: rgba(41, 13, 13, 0.35);
  margin: 0;
  margin-left: 5px;
}

.card__instructor {
  display: flex;
  padding-top: 1em;
}

.instructor__name {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.6);
}
